<!-- views/partials/footer.ejs -->
<div id='footcontact'>
    <div id='info'>
      <h4>Courtney Short Real Estate</h4>
      <a href='http://daveygoosmann.com/' ><h5>Davey Goosmann Realty</h5></a>
      <p>1724 E Broad Street Mansfield, TX</p>
      <p>817.995.9475</p>
      <p>cshort20@gmail.com</p>
    </div>
    <div id='social'>
      <img class='icon' src='equal.png' alt='equal housing'>
      <a href='https://www.facebook.com/CourtneyShortRealEstate/'><img class='icon' src='facebook.png' alt='facebook icon'></a>
    </div>
    <div id='emailsubmit'>
      <h4>Stay up to date and join my email list!</h4>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
</div>
