html,
body {
    padding: 0;
    margin: 0;
}

.bold {
  font-weight: bolder;
}

.navbar-default .navbar-brand {
  color: #e2b13f;
  padding: 11px;
}

.navbar-default .navbar-brand:hover {
  color: #e2b13f;
}

.navbar.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  border: solid gray;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: gray;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e2b13f;
}

.card {
  border: solid black;
}

@media only screen and (max-width: 980px) {


.photo {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

label {
  font-size: 40px;
}

.form-check-label {
  font-size: 20px;
}

.navbar-default .navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-default .navbar-nav>li>a {
  font-size: 40px;
  margin-top: 30px;
}

.navbar-default .navbar-brand {
  font-size: 60px;
  padding: 50px;
  padding-bottom: 80px;
}

.card {
  font-size: 40px;
}

}
