html,
body {
    padding: 0;
    margin: 0;
}

.bold {
  font-weight: bolder;
}

.navbar-default .navbar-brand {
  color: #e2b13f;
  padding: 11px;
}

.navbar-default .navbar-brand:hover {
  color: #e2b13f;
}

.navbar.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  border: solid white;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e2b13f;
}

.container-fluid {
  padding: 0;
}

.photo {
  background-image: url('kitchen.jpg');
  height: 90vh;
}

.jumbotron {
  background-color: transparent;
  border: none;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.blank {
  width: 50vw;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 40vh;
}

.jumbotron h1 {
  text-align: left;
}

.links {
  margin-top: 15px;
}

.listingsbutt {
  color: black;
  background-color: white;
  border: solid white;
  padding: 15px;
}

.contactbutt {
  color: white;
  border: solid white;
  padding: 15px;
}

a:hover {
  color: #e2b13f;
  text-decoration: none;
}

.review {
  background-color: #e2b13f;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#sunset {
  width: 50vw;
  display: flex;
  justify-content: center;
}

#review {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.yellow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.featured {
  display: flex;
  flex-direction: row;
}

.services {
  background-color: #e2b13f;
  height: 50vh;
  align-items: center;
}

#serve {
  width: 10vw;
  background-color: white;
  padding: 15px;
}

#selling {
  width: 10vw;
}

#buying {
  width: 10vw;
}

.stack {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 1vw;
}

.bulk {
  display: flex;
  flex-direction: row;
}

#feat {
  background-color: #e2b13f;
  margin-left: 1vw;
  padding: 1vw;
}

#feat h1 {
  margin-bottom: 3vw;
}

#footcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin: 5px 2vw;
}

.btn-danger {
  border-radius: 0;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

@media only screen and (max-width: 980px) {

.featured {
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

#feat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar-default .navbar-nav {
  display: flex;
  flex-direction: column;
}

.navbar-default .navbar-nav>li>a {
  font-size: 60px;
  margin-top: 30px;
}

.navbar-default .navbar-brand {
  font-size: 60px;
  padding: 50px;
  padding-bottom: 80px;
}

.yellow {
  flex-direction: column;
}

#serve, #selling, #buying {
  width: 80vw;
  font-size: 30px;
}

.jumbotron h1 {
  font-size: 100px;
}

.links {
  width: 80vw;
}

#sunset {
  width: 80vw;
  height: auto;
}

#logo {
  width: 80vw;
  height: auto;
}

#review h3{
  text-align: center;
  font-size: 30px;
}

.hide {
  display: hidden;
}

}
