<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

  <div class='photo container-fluid'>
    <header class='container'>
      <% include ../partials/header %>
      <link rel='stylesheet' href="./css/about.css">
    </header>

    <div class='container' id='splash'>
    <div id='blerb' class="jumbotron">
      <h1>Hi!</h1>
      <h2>I'm Courtney and I sell houses</h2>
      <h3>I'm a specialist in the Mansfield and Arlington areas, and I would be thrilled to help you buy or sell your next home anywhere in North Texas!</h3>
      <a id='CONTACT' class="contactbutt" href="/contact">
          Let's Chat!
      </a>
    </div>

    <div class="jumbotron">
      <img id='face' src='headshot.png'>
    </div>
  </div>

  </div>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/about.js"></script>
</body>
</html>
