<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel='stylesheet' href="./css/index.css">
</head>
<body class="container-fluid">

<div class='photo container-fluid'>
<header class='container'>
    <% include ../partials/header %>
</header>
<div class="jumbotron container">
<div class='row'>
  <div class='splash'>
    <h1>Find your home in Dallas / Fort Worth.</h1>
    <div class='links'>
        <a class="listingsbutt" href="https://www.realtor.com/realestateagents/courtney-short_mansfield_tx_3116620" target='_blank'>
            LISTINGS <span class='bold'></span>
        </a>
        <a id='CONTACT' class="contactbutt" href="/contact">
            CONTACT COURTNEY NOW
        </a>
    </div>
  </div>
  <div class='blank'>

  </div>
</div>
</div>
</div>

<div class='review'>
  <div class='yellow container'>
    <div id='sunset'>
      <img src='logo.png'  id='logo' alt='logo'></img>
    </div>
    <div id='review'>
      <h3>"Without a doubt, I confidently recommend Courtney for all of your real estate needs."</h3>
      <p> - Jeremy Dean </p>
    </div>
  </div>
</div>

<div class='featured container'>
  <div class='bulk'>
    <div class='stack'>
      <div id='house1'>
        <img src='https://ap.rdcpix.com/2918851701/da5b0f6ce87d929d8750e347156c4358l-m0xd-w1020_h770_q80.jpg'  id='logo' alt='logo'></img>
      </div>
      <div id='house2'>
        <img src='https://ap.rdcpix.com/2086699541/b1b81230c670fb7de2df5b2d35420d45l-m0xd-w1020_h770_q80.jpg'  id='logo' alt='logo'></img>
      </div>
    </div>
    <div class='stack'>
      <div id='house1info'>
        <h2>5805 Melstone Dr</h2>
        <h4>$223,000</h4>
        <h4>beds: 3  baths: 3</h4>
        <h4>sqfoot: 1704  lot: 7231</h4>
        <p class='hide'>Adorable one story in charming Arlington neighborhood. Updates throughout, from the beautiful wood looking luxury vinyl plank floors to the gorgeous light fixtures! You will love entertaining in this open living and dining with double doors to a large backyard!</p>
      </div>
      <div id='house2info'>
        <h2>10248 Almondtree Dr</h2>
        <h4>$300,000</h4>
        <h4>beds: 4  baths: 2</h4>
        <h4>sqfoot: 1819  lot: 8146</h4>
        <p class='hide'>Quiet Neighborhood in Ft worth, Everman ISD. 4 Bedroom 2 bathroom, one owner home, well kept. Upgraded lighting, ceiling fans in all bedrooms. No neighbors behind or to your right, backing up to an open field. Corner lot with large back yard. Do not miss out on this home!</p>
      </div>
    </div>
  </div>
    <div class='butt'>
    <div class='stack'>
    <div id='feat'>
      <h1>Featured Listings</h1>
        <a class="listingsbutt" href="https://www.realtor.com/realestateagents/courtney-short_mansfield_tx_3116620" target='_blank'>
            See all listings >
        </a>
    </div>
  </div>
</div>
</div>

<div class='services'>
  <div class='yellow container'>
    <div id='serve'>
      <h2>Services</h2>
      <p>What can I do for you?</p>
    </div>
    <div id='selling'>
      <h3>Seller Services</h3>
      <p>I will work harder than anyone around to seamlessly and successfully sell your home in the DFW area!</p>
    </div>
    <div id='buying'>
      <h3>Buyer Services</h3>
      <p>I know this market inside and out!  Let me put that knowledge to work for you as we find your perfect new home!</p>
    </div>
  </div>
</div>
<main>

</main>


<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/index.js"></script>
</body>
</html>
